html,
body {
  background: #1c1c1c;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
  color: #ffffff;
}

.container {
  width: 550px;
  height: 779px;
  background: url(https://images.unsplash.com/photo-1628432136678-43ff9be34064?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=663&q=80);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

header {
  height: 208px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background: rgba(0, 0, 0, 0.8);
}
header .headline {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-top: 82.45px;
}
header .headline h1 {
  font-family: "Inter";
  font-style: normal;
  font-weight: 800;
  font-size: 42.7947px;
  line-height: 24px;
  letter-spacing: -0.045em;
}
header .headline p a {
  text-decoration: none;
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  color: #ffffff;
}
header form {
  display: flex;
  transform: translateY(50%);
  width: 462px;
  height: 38px;
  background: #2e2e2f;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
  border-radius: 6px;
}
header form #search-inp,
header form #search-btn {
  box-sizing: border-box;
  width: 342px;
  height: 100%;
}
header form #search-btn {
  width: 120px;
}

input,
button {
  border-radius: 0px 8px 8px 0px;
  box-sizing: border-box;
  border: 0;
  background: #4b4b4b;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  color: #ffffff;
}

button:hover {
  transform: scale(1.03);
  cursor: pointer;
}

input {
  border-radius: 8px 0 0 8px;
  padding-left: 41px;
  background: #222;
}
input:focus {
  color: #ffffff;
}
input::-moz-placeholder {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  color: #6b7280;
}
input:-ms-input-placeholder {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  color: #6b7280;
}
input::placeholder {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  color: #6b7280;
}

.search-bar {
  position: relative;
}

.search-icon {
  position: absolute;
  top: 9px;
  left: 13px;
}

.results-area {
  box-sizing: border-box;
  height: 571px;
  width: 100%;
  background: url(../images/icons/Icon.png), #121212;
  background-position: center;
  background-repeat: no-repeat;
  padding: 44px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
.results-area #results .movie,
.results-area #results-added .movie {
  border-bottom: 1.5px solid #2c2c2c;
  display: flex;
  flex-direction: row;
  margin-bottom: 25px;
}
.results-area #results .movie .poster img,
.results-area #results-added .movie .poster img {
  height: 147px;
  width: 99px;
}
.results-area #results .movie .movie-info,
.results-area #results-added .movie .movie-info {
  padding: 15px 21px;
}
.results-area #results .movie .movie-info h3,
.results-area #results-added .movie .movie-info h3 {
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 20px;
  text-align: justify;
  margin: 0;
  display: inline;
}
.results-area #results .movie .movie-info p.rating,
.results-area #results-added .movie .movie-info p.rating {
  display: inline;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 20px;
}
.results-area #results .movie .movie-info .infoline,
.results-area #results-added .movie .movie-info .infoline {
  font-weight: 400;
  font-size: 12px;
  line-height: 20px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.results-area #results .movie .movie-info .infoline p,
.results-area #results-added .movie .movie-info .infoline p {
  margin: 0;
}
.results-area #results .movie .movie-info .infoline #addto-watchlist,
.results-area #results .movie .movie-info .infoline #remove-from-watchlist,
.results-area #results-added .movie .movie-info .infoline #addto-watchlist,
.results-area #results-added .movie .movie-info .infoline #remove-from-watchlist {
  cursor: pointer;
  padding: 2px;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5px;
}
.results-area #results .movie .movie-info .infoline #addto-watchlist img,
.results-area #results .movie .movie-info .infoline #addto-watchlist p,
.results-area #results .movie .movie-info .infoline #remove-from-watchlist img,
.results-area #results .movie .movie-info .infoline #remove-from-watchlist p,
.results-area #results-added .movie .movie-info .infoline #addto-watchlist img,
.results-area #results-added .movie .movie-info .infoline #addto-watchlist p,
.results-area #results-added .movie .movie-info .infoline #remove-from-watchlist img,
.results-area #results-added .movie .movie-info .infoline #remove-from-watchlist p {
  margin: 0;
}
.results-area #results .movie .movie-info .infoline #addto-watchlist img,
.results-area #results .movie .movie-info .infoline #remove-from-watchlist img,
.results-area #results-added .movie .movie-info .infoline #addto-watchlist img,
.results-area #results-added .movie .movie-info .infoline #remove-from-watchlist img {
  width: 16px;
  height: 16px;
  cursor: pointer;
}
.results-area #results .movie .movie-info .description,
.results-area #results-added .movie .movie-info .description {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #a5a5a5;
}

#results,
#results-added {
  overflow-y: auto;
}

#find-your-film-area:hover,
#my-watchlist-area:hover {
  cursor: pointer;
}

.test {
  height: 100px;
  background-color: red;
  margin-bottom: 10px;
}

.hidden {
  display: none;
}

#second-area {
  z-index: 10;
}/*# sourceMappingURL=style.css.map */